MEDIA_ROOT_HOST={{ newtube_media_root_host }}
MEDIA_ROOT={{ newtube_media_root }}
WWW_ROOT={{ newtube_www_root }}
NEWTUBE_PORT={{ newtube_port }}
NEWTUBE_HOST={{ newtube_host }}
NEWTUBE_PUBLIC_PORT={{ newtube_public_port }}
NEWTUBE_MISSING_MEDIA_BEHAVIOR={{ newtube_missing_media_behavior }}
{% if newtube_download_bin is defined %}
NEWTUBE_DOWNLOAD_BIN={{ newtube_download_bin }}
{% endif %}
